{{ structure.class_name }} = TypedDict(
    '{{ structure.class_name }}', {
    {%- for parameter_name, parameter_shape in structure.required_params.items() %}
        '{{ parameter_name }}': {{ parameter_shape.type_hint() }},
    {%- endfor -%}
    {%- for parameter_name, parameter_shape in structure.optional_params.items() %}
        '{{ parameter_shape.name }}': Optional[{{ parameter_shape.type_hint() }}],
    {%- endfor %}
    }
)
