{%- if structure.required_params and structure.optional_params -%}
class _{{ structure.class_name }}(TypedDict):
    {%- for parameter_name, parameter_shape in structure.required_params.items() %}
    {{ parameter_name }}: {{ parameter_shape.type_hint() }}
    {%- endfor %}


class {{ structure.class_name }}(_{{ structure.class_name }}, total=False):
    {%- for parameter_name, parameter_shape in structure.optional_params.items() %}
    {{ parameter_name }}: {{ parameter_shape.type_hint() }}
    {%- endfor -%}{%- endif -%}
{%- if structure.required_params and not structure.optional_params -%}
class {{ structure.class_name }}(TypedDict):
    {%- for parameter_name, parameter_shape in structure.required_params.items() %}
    {{ parameter_name }}: {{ parameter_shape.type_hint() }}
    {%- endfor -%}{%- endif -%}
{%- if structure.optional_params and not structure.required_params -%}
class {{ structure.class_name }}(TypedDict, total=False):
    {%- for parameter_name, parameter_shape in structure.optional_params.items() %}
    {{ parameter_name }}: {{ parameter_shape.type_hint() }}
    {%- endfor -%}{%- endif -%}
{%- if not structure.optional_params and not structure.required_params -%}
class {{ structure.class_name }}(TypedDict, total=False):
    pass{%- endif -%}
