class {{ service.class_name }}(BaseClient):
    {%- for operation in service.operations %}
    def {{ operation.method_name }}(self
        {%- if operation.required_params -%}
            {%- for param in operation.required_params -%}
                , {{ param.name }}: {{ param.type.type_hint() }}
            {%- endfor -%}
        {%- endif -%}
        {%- if operation.optional_params -%}
            {%- for param in operation.optional_params -%}
                , {{ param.name }}: Optional[{{ param.type.type_hint() }}]
            {%- endfor -%}
        {%- endif -%}
    )
    {%- if operation.output_type -%}
        {{ " -> " }}{{ operation.output_type.type_hint() }}
    {%- endif -%}
    : ...
    {% endfor %}
{% for structure in service.structures %}
{% include "structure.pyi.j2" %}

{% endfor %}