{{ service.name }}{{ shape.name }} = TypedDict(
    '{{ service.name }}{{ shape.name }}', {
    {% for parameter in shape.required_parameters %}
        {{ parameter.name }}: {{ paraemeter.type }},
    {% endfor %}
    {% for parameter in shape.optional_parameters %}
        {{ parameter.name }}: Optional[{{ parameter.type }}],
    {% endfor %}
})
